# Ansible team meeting backgrounds
## All your favorite offices and memes

{% if images %}
{%  for image in images.files  %}
{{ image.path.split('/')[3] }}
<img src="./{{ image.path.split('/')[3] }}" alt="image.path.split('/')[3]" width="200" />
{%  endfor  %}
{% endif %}
